[submodule "externals/cleverhans"]
	path = externals/cleverhans
	url = https://github.com/openai/cleverhans.git
[submodule "externals/carlini/nn_robust_attacks"]
	path = externals/carlini/nn_robust_attacks
	url = https://github.com/mzweilin/nn_robust_attacks.git
	ignore = dirty
[submodule "externals/universal"]
	path = externals/universal
	url = https://github.com/LTS4/universal.git
	ignore = dirty
[submodule "externals/MagNet"]
	path = externals/MagNet
	url = https://github.com/kjam/MagNet.git
	ignore = dirty
